<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>StandBy</title>

  <link href="//Microsoft.WinJS.2.0/css/ui-dark.css" rel="stylesheet" />
  <script src="//Microsoft.WinJS.2.0/js/base.js"></script>
  <script src="//Microsoft.WinJS.2.0/js/ui.js"></script>

  <link href="/css/default.css" rel="stylesheet" />
  <script data-main="/js/main" src="/js/lib/require.js"></script>
  <script src="/js/default.js"></script>
</head>
<body>
  <form name="loginForm" ng-submit="login()">
    <h2>Login</h2>
    <input type="text" name="username" ng-model="login.username" />
    <input type="password" name="password" ng-model="login.password" />
    <button type="submit">Login</button>
  </form>
  <div ng-show="login.status">
    <p>Session: {{login.session}}</p>
  </div>
</body>
</html>