<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>StandBy</title>

  <link href="//Microsoft.WinJS.2.0/css/ui-light.css" rel="stylesheet" />
  <script src="//Microsoft.WinJS.2.0/js/base.js"></script>
  <script src="//Microsoft.WinJS.2.0/js/ui.js"></script>

  <link href="/css/default.css" rel="stylesheet" />
  <script src="/js/default.js"></script>
</head>
<body>

  <h1>StandBy</h1>
  <form name="loginForm" 
        ng-controller="login" 
        ng-submit="login()"
        style="display:none">
    <h2>Login</h2>
    <input type="text" name="username" ng-model="login.username" />
    <input type="password" name="password" ng-model="login.password" />
    <button type="submit">Login</button>

    <div ng-show="login.status">
      <p>Session: {{login.session}}</p>
    </div>

    <div ng-show="resources">
      <p>Resources: {{resources}}</p>
    </div>
  </form>

  <win-nav-bar>
    <win-nav-bar-container>
      <win-nav-bar-command label="'Home'" icon="'home'" tooltip="'Go home!!'"></win-nav-bar-command>
      <win-nav-bar-command label="'Save'" icon="'save'"></win-nav-bar-command>
    </win-nav-bar-container>
  </win-nav-bar>

  <script data-main="/js/main" src="/js/lib/require.js"></script>
</body>
</html>