<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="StandByApp" ng-csp>
<head>
  <meta charset="utf-8" />

  <title>StandBy</title>

  <link href="//Microsoft.WinJS.2.0/css/ui-light.css" rel="stylesheet" />
  <script src="//Microsoft.WinJS.2.0/js/base.js"></script>
  <script src="//Microsoft.WinJS.2.0/js/ui.js"></script>

  <script src="scripts/data.js"></script>
  <script src="scripts/navigator.js"></script>

  <script src="scripts/vendors/jquery/dist/jquery.js"></script>
  <script src="scripts/vendors/angular/angular.js"></script>
  <script src="scripts/vendors/angular-resource/angular-resource.js"></script>
  <script src="scripts/vendors/angular-sanitize/angular-sanitize.js"></script>
  <script src="scripts/vendors/angular-winjs/js/angular-winjs.js"></script>
  <script src="scripts/vendors/angular-md5/angular-md5.js"></script>

  <script src="scripts/app.js"></script>
  <script src="scripts/config.js"></script>
  <script src="scripts/services/standby.js"></script>
  <script src="scripts/run.js"></script>
  <script src="scripts/controllers/login.js"></script>

  <link href="/styles/default.css" rel="stylesheet" />
</head>
<body>

  <h1>StandBy</h1>
  <form name="loginForm"
        ng-controller="loginCtrl"
        ng-submit="login()"
        style="display:none">
    <h2>Login</h2>
    <input type="text" name="username" ng-model="loginData.username" />
    <input type="password" name="password" ng-model="loginData.password" />
    <button type="submit">Login</button>

    <div ng-show="loginData.session">
      <p>Session: {{loginData.session}}</p>
    </div>

    <div ng-show="resources">
      <p>Resources: {{resources}}</p>
    </div>
  </form>

</body>
</html>