<!DOCTYPE html>

<header ng-controller="login">
  <a href="" ng-click="logout()">Logout</a>
</header>

<section>
  <article>
    <ul>
      <li ng-repeat="group in data.groups">

        <h3>{{group.name}}</h3>

        <p>There are {{group.members.length}} members in this group.</p>

        <div ng-show="group.members.length > 0 ">
          <ul>
            <li ng-repeat="member in group.members">
              <strong>{{member.name}}</strong>
              <p>
                <span ng-show="isEmptyPlanning(member.availability)">
                  {{member.availability.start.short}} - {{member.availability.end.short}}
                </span>
                <br/>
                {{member.availability.text}}
              </p>
            </li>
          </ul>
        </div>

        <hr/>
      </li>
    </ul>
  </article>
</section>