<!DOCTYPE html>

<header ng-controller="login">
  <a href="" ng-click="logout()">Logout</a>
</header>

<section>
  <article>
    <ul>
      <li ng-repeat="group in data.groups">

        <h3>{{group.name}}</h3>

        <div>There are {{group.members.length}} members in this group.</div>

        <div ng-show="group.members.length > 0 ">
          <ul>
            <li ng-repeat="member in group.members">{{member.name}}</li>
          </ul>
        </div>

        <hr/>
      </li>
    </ul>
  </article>
</section>